@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Shrikhand&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightcyan;
    !important;
    font-family: Josefin Sans, sans-serif;
    color: cadetblue;
    !important;
    font-size: 20px;
}

h1 {
    font-family: Shrikhand, sans-serif;
}

.navbar-light .navbar-brand {
    color: cadetblue;
    !important;
}

table th, tr, td {
    color: cadetblue;
    !important;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: cadetblue;
    !important;
}

.textofoda {
    color: cadetblue;
    !important;
}

h3 {
    color: cadetblue;
    !important;
    font-family: Shrikhand, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    !important;
    color: lightslategray;
    !important;
}

.btn-primary {
    background-color: cornflowerblue;
    !important;
    margin-top: 10px;
    !important;
}

.form-control {
    font-family: Josefin Sans, sans-serif;
    !important;
}